
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>
          <mat-icon>home</mat-icon>  {{title}} 
      </h3>
    </div>
  </div>
  <div class="row">
      <div class="col text-center">
        <mat-form-field>
          <input matInput placeholder="Simple Input" [(ngModel)]="title">
        </mat-form-field>
      </div>
    </div>
  <div class="row">
      <div class="col text-center">  
      <button mat-raised-button>I'm a button</button></div>
  </div>
  <div class="row">
      <div class="col text-center">
      <mat-form-field>
        <mat-select placeholder="I'm a select" [(ngModel)]="selectedValue">
          <mat-option *ngFor="let item of items" [value]="item.value">
            {{item.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col text-center">
    <a href="#">This is a link</a>
  </div>
</div>
    



<router-outlet></router-outlet>